.header {
    background-color: blue;
    width: 90%;
    display: flex;
    justify-content: center;
    border-radius: 0.5vmax;
    margin: 0 auto;
    margin-top: 1.5vmax;
}

.vehiculos-container {
    margin-top: 2vmax;
}

.vehiculosContent {
    display: flex;
    justify-content: center;
    gap: 2vmax;
}

.coches,
.motos {
    border: 2px solid black;
    padding: 1.2vmax;
    width: 90%;
    text-align: center;
}

.coches img,
.motos img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
